/* ==========================================================================
   Footer to bottom
   ========================================================================== */

html, body {
    height: 100%;
}

.page-wrapper,
.page {
    min-height: 100%;
}

.footer {
    padding: 55px 0;
    color: $color-grey-light;
}