/* ==========================================================================
   Base styles
   ========================================================================== */
html, body {
    /*
    min-width: $page-width-min;

    color: $base-text-color;
    background: #fff;

    @media (max-width: $screen-md) {
        font-size: $base-font-size - 3px;
    }
    // */
}

.page-wrapper {

}

.page {

}