@font-face {
	font-family: 'Ruble';
	src: url('../fonts/alsrubl-webfont.eot');
	src: url('../fonts/alsrubl-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/alsrubl-webfont.woff2') format('woff2'),
	url('../fonts/alsrubl-webfont.woff') format('woff'),
	url('../fonts/alsrubl-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
