@import "bootstrap_custom";
@import "mixins";
@import "sprite";
@import "fonts";


@import "base";
@import "vendors";

@import "blocks/type";
@import "blocks/icons";
@import "blocks/links";
@import "blocks/buttons";
@import "blocks/helpers";
@import "blocks/form";

@import "blocks/header";
@import "blocks/popup";


/* ==========================================================================
   JS
   ========================================================================== */
.js-form {
    position: relative;

    .js-loader,
    .js-success,
    .js-error {
        display: none;
    }
}


/* ==========================================================================
   Bootstrap debug
   ========================================================================== */
.debug {
	position: fixed;
	top: 0;
	left: 0;
	background: #0c0;
	z-index: 10000;
}

.debug-box {
	@include block(100%, 200px);
	background: transparentize(#00c, .8);
}